@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  padding: 0;
  margin: 0;

  font-family: "Poppins", sans-serif;
}
body p {
  margin: 0;
}
.container {
  color: white;
  display: flex;
  padding: 10px 20px 10px 10px;
  height: 100%;
  gap: 10px;
}
.wrapper-left {
  /* background-color: #121212; */
  /* background-color: red;    */
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-left-child1 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #121212;
  border-radius: 8px;
  padding: 15px 20px;
  padding-bottom: 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: start;
}

.wrapper-left-child1 a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.wrapper-left-child1 svg {
  fill: white;
  color: white;
}
.home-img {
  color: white;
}

/* ! Wrapper-left-child 2 Css starts Her  */
.wrapper-left-child2 {
  color: #b3b3b3;
  fill: #b3b3b3;
  font-size: 15px;

  font-weight: 600;
  background-color: #121212;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.title-child1 {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  padding-bottom: 10px;
}

.title-group-1 {
  display: flex;
  gap: 10px;
}

.title-group-1 p {
  padding: 0;
  margin: 0;
}

.wrapper-child2 {
  margin-bottom: 23px;
  color: white;
  background-color: #242424;
  margin-inline: 9px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 15px 20px;
}
.wrapper-child2 p {
  margin: 0;
  margin-bottom: 9px;
}

.wrapper-child2 p:nth-child(2) {
  font-size: 12.5px;
}

.wrapper-child2 button {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 8px 17px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.wrapper-child2-links {
  padding: 10px 20px;

  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  font-weight: normal;

  gap: 15px;
}

.wrapper-child2-links p {
  margin: 0;
}

.child2-language-btn {
  fill: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #121212;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* ! Wrapper-left-child 2 Css Ends Her  */
.wrapper-right {
  background-color: #121212;
  border-radius: 8px;
  width: 76%;
  border-radius: 8px;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 600;
}

.header-btn {
  background-color: black;
  border: none;

  fill: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.right-header-2 {
  display: flex;
  gap: 25px;
  align-items: center;
}
.right-header-2 p {
  margin: 0;
}
.right-header-2 button {
  border: none;

  font-size: 15px;
  font-weight: 600;
  padding: 14px 30px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Sid Right Wrapper Css Starts Here */
.right-header-1 button {
  cursor: not-allowed;
}

.right-container {
  width: 100%;
}

.genres .items-card:nth-child(2) {
  background: linear-gradient(to top, #121212, #242424);
}

.items-card {
  display: flex;
  gap: 30px;
  overflow-x: auto;

  padding: 20px 15px;
}
.items-card::-webkit-scrollbar {
  width: 0;
}

.genres {
  height: 80vh;
  overflow-y: auto;
}

.genres::-webkit-scrollbar {
  width: 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.header-sub {
  font-size: 14px;
  font-weight: normal;
}

.genres > p {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  background: #242424;
}
.item {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: transparent;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  position: relative;
}

.item img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.play-btn {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: black;
  display: none;
  background-color: #1fdd63;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes animate-play-btn {
  0% {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
}
  100% {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}
}

.item:hover {
  background: linear-gradient(to bottom, #242424, #121212, #242424, #02a33ab3);
}
.item:hover .play-btn {
  animation: animate-play-btn 0.25s ease-in-out;
  display: flex;
  -webkit-animation: animate-play-btn 0.25s ease-in-out;
}

.item-role {
  font-size: 12px;
  font-weight: 500;
  color: #b3b3b3;
}

.genres .dark {
  background-color: #121212;
}

#content img {
  width: 170px;
  height: 170px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Sid Right Wrapper Css Ends Here */

/* Sid Footer Css Starts HEre */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-links li {
  list-style: none;
  font-weight: normal;
  color: #b3b3b3;
}

.links li {
  padding-block: 5px;
  font-size: 14px;
}
.links li:nth-child(1) {
  font-weight: 600;
}

.footer-social-icons {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

.footer-social-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #242424;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divider {
  margin-inline: 20px;
  border: 0.1px solid #323232;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-block: 15px;
}

.copyright {
  background-color: #121212 !important;
  color: #b3b3b3 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin-bottom: 20px !important;
}
/* Sid Footer Css Ends HEre */
